body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* background-color: #cacaca; */
}

h1 {
    color: black;
    font-weight: 600;
}

th {
    color: white;
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
}

table {
    width: fit-content;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: inline-block;
    background-color: #1b73e8 !important;
}

tbody {
    font-family: sans-serif;
    width: fit-content;
    display: block;
    overflow: auto;
    max-height: 650px;
    height: fit-content;
}

tr {
    background-color: rgb(243, 243, 243);
}

td {
    height: 50px;
    max-width: 500px;
    word-break: break-word;
}

thead tr:first-child {
    background-color: #1b73e8 !important;
}

tr td:first-child {
    text-align: center;
}

.btn {
    height: 30px;
    width: 80px;
    background-color: rgb(27, 115, 232);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-delete {
    height: 30px;
    width: 80px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#table-total tr:nth-child(even) {
    background-color: white;
    color: blue;
}

.order {
    width: 40px;
}

.spend {
    font-weight: bold;
    color: red;
}

.income {
    font-weight: bold;
    color: green;
}

.content {
    width: 220px !important;
}

.amount {
    width: 220px !important;
}

.type {
    width: 105px !important;
}

.created {
    width: 250px !important;
}

.action {
    width: 216px !important;
}

#search {
    width: 30%;
    height: 35px;
    font-size: 15px;
    border: 2px solid rgb(193, 193, 193);
    border-radius: 5px;
}

.conainer {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.head {
    text-align: end;
    margin-bottom: 10px;
}

.btn-add {
    height: 40px;
    width: 150px;
    background-color: rgb(27, 115, 232);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.add-record {
    width: 100%;
    height: 100%;
    background-color: red;
    display: inline;
}

.form {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 250px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.form-content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    width: 30%;
}

.input-add {
    text-align: left;
    margin-left: auto;
}

#table-add {
    box-shadow: none;
}

#table-add tr {
    background-color: white;
    font-family: inherit;
}

.in {
    height: 30px;
    width: 400px;
    margin-left: 15px;
}

#error {
    display: none;
    color: red;
    font-weight: bold;
}